.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 4%;
  padding-bottom: 10%;
}

/* 전체 공통 */
.flex-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 1rem;
  width: 40%;
}

.titleBox,
.HashBox {
  margin-top: 3rem;
  height: 40%;
}

.titleBox {
  margin-top: 6rem;
}
