.navbar {
  top: 0;
  position: fixed;
  z-index: 5;
  width: 95%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 8px 50px;
  border: 1px solid #e9ecef57;
}

/* #e9ecef57 */

.navbar__logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  /* color: white; */
}

.navbar__logo svg {
  color: orangered;
}

.navbar__logo a {
  color: rgb(24, 23, 23);
}

.navbar__menu {
  margin-left: 20px;
  font-size: 20px;
  display: flex;
  list-style: none;
  padding-left: 0;
  color: rgb(136, 132, 132);
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu li div {
  color: rgb(136, 132, 132);
}

.navbar__menu li:hover {
  background-color: orangered;
  border-radius: 4px;
}

.navbar__icons {
  font-size: 30px;
  list-style: none;
  color: rgb(194, 192, 192);
  display: flex;
  padding-left: 0;
  margin-right: 0.8rem;
}

.navbar__icons li {
  padding: 8px 12px;
}

.navbar__toogleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: orangered;
}

.burger {
  color: orangered;
}

/* 창 줄였을때 반응형 웹 */
@media screen and (max-width: 870px) {
  .navbar {
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar__menu li {
    width: 100%;
    text-align: center;
  }
}
