.googleButton {
  margin-top: 20px;
  margin-left: 85px;
  font-weight: 400;
}

.siteLogo {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

#modalWindow {
  display: flex;
  flex-direction: column;
  background: rgb(247, 247, 247);
  box-shadow: none;
  width: 350px;
  height: 500px;
  position: relative;
}

#content {
  width: 400px;
  background: #fff;
  border: 1px solid #dddfe2;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 8px;
  padding: 1rem;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.form-div {
  margin-top: 30px;
}

/* 레이아웃 틀 */

#logo {
  width: 240px;
  height: 44px;
  cursor: pointer;
}

/* 입력폼 */

input:focus {
  outline: none;
}

h3 {
  font-size: 20px;
  font-weight: 700;
}

.box {
  display: block;
  width: 178px;
  height: 43px;
  border: solid 1px #dadada;
  padding-top: 5px;
  box-sizing: border-box;
  background: #fff;
  position: relative;
}

.int {
  border-radius: 8px;
  border: 2px solid #dddfe2;
  outline: none;
  color: #1d2129;
  margin: 0.5rem 0;
  padding: 0.5rem 0.75rem;
  width: 250px;
  font-size: 1rem;
}

.box.int_id {
  margin-left: 140px;
}

.box.int_pass {
  margin-left: 140px;
}
.box.int_email {
  margin-left: 140px;
}

.box.int_pass_check {
  padding-right: 40px;
}

.step_url {
  /*@naver.com*/
  position: absolute;
  top: 16px;
  right: 13px;
  font-size: 15px;
  color: #8e8e8e;
}

.pswdImg {
  width: 18px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 16px;
  margin-top: -10px;
  cursor: pointer;
}

#bir_wrap {
  display: table;
  width: 100%;
}

#bir_yy {
  display: table-cell;
  width: 147px;
}

#bir_mm {
  display: table-cell;
  width: 147px;
  vertical-align: middle;
}

#bir_dd {
  display: table-cell;
  width: 147px;
}

#bir_mm,
#bir_dd {
  padding-left: 10px;
}

select {
  width: 100%;
  height: 29px;
  font-size: 15px;
  background: #fff
    url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 100% 50%
    no-repeat;
  background-size: 20px 8px;
  -webkit-appearance: none;
  display: inline-block;
  text-align: start;
  border: none;
  cursor: default;
}

/* 에러메세지 */

.error_next_box {
  margin-top: 9px;
  font-size: 12px;
  color: red;
  display: none;
}

#alertTxt {
  position: absolute;
  top: 19px;
  right: 38px;
  font-size: 12px;
  color: red;
  display: none;
}

/* 버튼 */

#btnJoin {
  background: #2d2e30;
  border: 1px solid #2d2e30;
  color: #fff;
  padding: 0.5rem;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  width: 250px;
  height: 43px;
  margin-left: 0px;
}

/*모달*/
