.tagFolder-window {
  overflow: hidden;
}

.tagFolder-window > .folder-content {
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.addFolder {
}
.header-Container {
  position: relative;
}

.hash-btns {
  position: absolute;
  display: flex;
  width: auto;
  height: auto;
  right: 15px;
  gap: 2px;
}

/* 아이콘 2개 */
.editFolder-left-Icons div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1px;
  width: 42px;
  height: 42px;
  border-radius: 35%;
  cursor: pointer;
}

/* 위에 아이콘 3개 허버이벤트 */
.editFolder-left-Icons div:hover,
.editFolder:hover {
  background-color: rgba(0, 0, 0, 0.05);
  transition: 200ms;
}

/* 아이콘 3개 클릭하면 더 찐해지게 */
.editFolder-left-Icons div:active,
.editFolder:active {
  background-color: rgba(0, 0, 0, 0.1);
  transition: 200ms;
}

.editFolder-one-ment {
  font-size: 13px;
  pointer-events: none;
}
.editFolder-one-icon {
  pointer-events: none;
}

/* 오른쪽 한 개 */

.editFolder {
  width: 39px;
  height: 39px;
}

.hash-btns > div {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 32px; */
  border-radius: 35%;
}

.hash-btns svg {
  /* font-size: 20px; */
  padding-right: 5px;
  cursor: pointer;
  padding: 0;
}

.hash-btns > .editFolder {
  font-size: 25px;
}
.editFolder svg {
  border-radius: 35%;
}
/* .editFolder svg:hover {
  background-color: rgba(0, 0, 0, 0.05);
  transition: 200ms;
} */

.hash-btns > div:hover {
  /* background-color: rgba(0, 0, 0, 0.05); */
  /* transition: 200ms; */
}
.folder-content .tagFolder-grid {
  position: relative;
  display: grid;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 100px;
}

.tagFolder-grid > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.tagFolder-grid .addItem {
  display: none;
}

.tempModal {
  position: absolute;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  color: #fff;
  top: 0;
  width: 90%;
  left: 5%;
  border-radius: 6px;
}

.folder-clicked {
  color: #fbb917;
}

.tagFolder-grid .closed {
  display: none;
}

.tagFolder-grid .back {
  display: none;
  transition: 200ms;
}
.tagFolder-grid .open {
  display: flex;
  transition: 200ms;
}

.Page2GridItem,
.addFolder-icon,
.back {
  border-radius: 35%;
}

.Page2GridItem:hover,
.addFolder-icon:hover,
.back:hover {
  background-color: rgba(0, 0, 0, 0.03);
  transition: 200ms;
}

.Page2GridItem:active,
.addFolder-icon:active,
.back:active {
  background-color: rgba(0, 0, 0, 0.05);
  transition: 500ms;
}

.Page2GridItem:active {
  opacity: 1;
}
