@font-face {
  font-family: "BMHANNAPro";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.MainPage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 600px;
}
.grid-container {
  display: grid;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 8rem;
  height: 100%;
  grid-template-columns: repeat(2, 400px);
  grid-template-rows: 40px 50px auto auto;
  grid-gap: 20px;
  padding-right: 30px;
}

.search-box {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
  /* background-color: #c4c4c4; */
  margin-left: auto;
  margin-right: auto;
}

.search-box > input {
  border: 0;
  width: 200px;
  height: 100%;
  background-color: #c4c4c4;
  padding-left: 1rem;
  padding-right: 1rem;
}

.search-box > input:focus {
  outline: none;
}

.search-box > svg {
  position: absolute;
  font-size: 30px;
  height: 35px;
  margin-left: 90px;
}

.Search-balloon {
  display: none;
  position: absolute;
  margin-top: 370px;
  width: 400px;
  height: 300px;
  border-radius: 8px;
  background: #fff;
  color: #333;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.089);

  font-size: 15px;
  /* transition: height 100ms; */
  /* 처음에는 고정이고 다른곳 누르면 서서히 위로 올라가는 애니메이션 */
  transition: 90ms ease-in-out;
}

/* .Search-balloon:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #333;
  border-width: 10px;
  pointer-events: none;
  content: " ";
} */

.share-write {
  grid-column: span 2;
  align-self: flex-end;
  justify-self: end;
}

.share-write:hover {
  cursor: pointer;
}
.share-write svg {
  padding: 0.2rem;
}

.share-write svg:active {
  color: black;
}

.Rectangle {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
  background-color: #fafafa;
}

.Big_Rect {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
  background-color: #fafafa;
  grid-column: span 2;
}

.Big_Rect,
.Rectangle {
  font-family: "BMHANNAPro";
  padding: 1rem;
}

.share-write,
.search-box {
  font-size: 1.7rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.text-container > div {
  padding: 0.5rem;
}

.text-container > div:hover {
  background-color: beige;
  cursor: pointer;
  transition: 0.2s;
}

.text-three-container {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  padding: 0px;
}

.text-three-container > div:hover {
  background-color: beige;
  cursor: pointer;
  transition: 0.2s;
}

.T-url {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 65%;
  padding: 0.4rem 0 0.4rem 0;
}

.aside {
  font-family: "BMHANNAPro";
  display: flex;
  flex-direction: column;
  position: sticky;
  word-break: break-all;
  /* margin-top: -500px; */
  margin-top: -800px;
  width: 300px;
  top: 200px;
  gap: 50px;
}

.aside-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3px;
  /* background-color: #fafafa;
  box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.25); */
}
.tag {
  cursor: pointer;
  background-color: bisque;
  border: 1px solid #bcbcbc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.aside-details {
  height: 200px;
  background-color: #fafafa;
  box-shadow: 0px 1px 1px 0 rgba(88, 40, 40, 0.25);
}
.minisize-tags {
  display: none;
}

@media (max-width: 1100px) {
  .aside {
    display: none;
  }
  .minisize-tags {
    display: flex;
    grid-column: span 2;
  }
  .grid-container {
    padding-right: 0%;
  }
  .tag {
    font-family: "BMHANNAPro";
  }
}

@media (max-width: 870px) {
  .grid-container {
    grid-template-columns: 400px;
  }

  .Big_Rect,
  .search-box,
  .share-write,
  .minisize-tags {
    grid-column: span 1;
  }

  .search-box > input {
    width: 100%;
  }

  .search-box {
    width: 200px;
  }
  .text-three-container {
    grid-template-columns: 1fr;
  }

  .text-container {
    align-items: center;
    justify-content: center;
  }

  .text-container > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h3 {
    text-align: center;
  }
}

@media (max-width: 470px) {
  .grid-container {
    grid-template-columns: auto;
  }

  .Rectangle,
  .Big_Rect {
    box-shadow: none;
  }

  .text-container,
  .text-three-container > div:hover {
    background-color: none;
    cursor: none;
  }
}
