@font-face {
  font-family: "GowunDodum-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "GowunDodum-Regular";
  font-weight: bold;
}

h3 {
  margin: 0;
}
.firstLoading {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.MainPage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 800px;
}
.grid-container {
  display: grid;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 8rem;
  height: 100%;
  grid-template-columns: repeat(2, 400px);
  grid-template-rows: 50px auto auto;
  grid-gap: 20px;
  padding-right: 40px;
}

.search-box {
  position: relative;
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 100%;
  /* padding: 10px; */
  margin-left: auto;
  margin-right: auto;
}

.search-box > input {
  border: 0;
  width: 100%;
  margin: 0;
  height: 37px;
  border: 2px solid #fff;
  background-color: transparent;
  /* padding-left: 1rem; */
  /* padding-right: 1rem; */
  border-radius: 10px;
  outline: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}

.search-box > input:focus {
  outline: none;
  /* background-color: #52525262; */
  background-color: #ffffff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.search-box > svg {
  position: absolute;
  right: 0;

  /* z-index: 2; */
}

.Search-balloon {
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 370px;
  width: 400px;
  height: 300px;
  border-radius: 8px;
  background: #fff;
  color: #333;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.089);

  font-size: 15px;
  z-index: 3;
  /* transition: height 100ms; */
  /* 처음에는 고정이고 다른곳 누르면 서서히 위로 올라가는 애니메이션 */
  transition: 90ms ease-in-out;
}
.Search-balloon-title,
.Searched-Stuffs-Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 100%; */
}

.Searched-Stuffs-Container {
  padding-top: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.Search-balloon-title {
  flex-direction: row;
  /* margin-left: 20px; */
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}

.Search-balloon-title div {
  display: flex;
}
.recent-serached-title {
  width: 100%;
  padding-left: 15px;
}

.delete-recent-searched {
  width: 100px;
  cursor: pointer;
  font-size: 14px;
  align-items: center;
  justify-content: center;
}

.Searched-url-Id {
  /* display: flex; */
  padding: 10px;
  padding-right: 5px;
  margin: 0px;
  word-break: nowrap;
  /* margin: 10px; */
}

.just-bar {
  padding-right: 10px;
}

.share-write {
  /* position: sticky; */
  top: 50px;
  z-index: 2;

  grid-column: span 2;
  display: flex;
  width: 100%;
}

.left-icons,
.right-icons {
  display: flex;
  flex: 1;
}

.delete-click-icon {
  font-size: 20px;
}

.share-write svg {
  cursor: pointer;
}
.right-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 0.5rem;
}

.right-icons div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25%;
  padding: 3px;
  border: 2px solid #fff;
  font-weight: 100;
}

.right-icons div:active {
  background-color: #fff;
  transition: 300ms;
}
.right-icons div svg {
  font-weight: 100;

  padding: 0;
}
.right-icons div.folder-icon svg {
  padding: 0.2rem;
  /* font-weight: 800; */
}

.addUrl-icon {
  position: relative;
}

.share-write svg {
  padding: 0.2rem;
}

.delete-mode-click-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  visibility: hidden;
  gap: 10px;
  /* transform: translate(-40px); */
  /* transform: scale(0); */
  transition: 200ms ease-in-out;
  padding: 7px;
}
.delete-mode-click-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

/* 3개 아이콘 허버되면 투명도 낮아지는거 */
.delete-mode-click-container div:hover {
  transition: 200ms ease-in-out;
}

/* 속에 있는 작은 아이콘들까지 따로따로 투명도 중첩으로 낮아지는거 방지 */
.delete-mode-click-container div div:hover,
.delete-mode-click-container div svg:hover {
}

/* .delete-ment {
  font-size: 14px;
} */

.delete-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.delete-icon svg {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25%;
  padding: 3px;
  border: 2px solid #fff;
  font-weight: 100;
}

.delete-icon svg:active {
  background-color: #fff;
  transition: 300ms;
}

.delete-icon > div {
  /* transition: all 1s; */

  font-size: 13px;
}

.Rectangle {
  min-height: 246px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
  background-color: #fafafa;
}

.Big_Rect {
  min-height: 300px;

  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
  background-color: #fafafa;
  grid-column: span 2;
}

.Big_Rect,
.Rectangle {
  padding: 1rem;
}

.RectColor {
  transition: 200ms ease-in-out;
  border-radius: 20px;
}
.RectColor h3 {
  padding: 0.4rem;
}
.moreBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.text-container > .moreBtn:hover {
  background-color: transparent;
}

.share-write,
.search-box {
  font-size: 1.7rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.text-container > div:hover {
  /* background: #e9ecef57; */
  outline: 0;
  /* background: #e9ecef57; */
  cursor: pointer;
  transition: 0.2s;
}

.grid-container .text-three-container {
  display: grid;
  /* align-items: center; */
  /* justify-content: center; */
  /* grid-template-columns: repeat(3, 250px); */
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  grid-gap: 5px;
  padding: 0px;
}

.text-three-container .T-url {
  grid-column: span 2;
  border-radius: 10px;
  border: 1px solid #ebebeb;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
}

.text-three-container > div:hover {
  /* background: #e9ecef57; */
  cursor: pointer;
  transition: 0.2s;
}
.urlFavicon {
  padding: 0.1rem 0.3rem;
}
.T-url,
.url {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: auto;
  padding: 0.4rem 0 0.4rem 0;
}

.select-box {
  /* font-size: 40px; */
}

.Target-Element {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: span 4;
}
.text-three-container > .Target-Element:hover {
  cursor: auto;
  background-color: #fafafa;
  transition: 0;
}

.T-url > .valueTitle {
  /* word-break: break-all; */

  /* white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; */

  /* display: -webkit-box;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; */
}
.url > .valueTitle {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.T-url .valueTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* .text-container > .url {
  padding: 0;
} */

.valueId {
  display: flex;
  padding-right: 5px;
  padding-left: 10px;
  justify-content: center;
  align-items: center;
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  position: sticky;
  word-break: break-all;
  /* margin-top: -500px; */
  margin-top: -100000px;
  width: 350px;
  height: 100%;
  top: 200px;
  /* padding-left: 30px; */
  /* gap: 50px; */
}

/* .for-filling {
  height: 100px;
  width: 100%;
} */

.aside-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;
  max-height: 200px;
  overflow-y: auto;
  /* background-color: #fafafa;
  box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.25); */
}
.tag {
  cursor: pointer;
  /* background-color: bisque; */
  border: 2px solid #ffffff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.aside-details {
  height: 200px;
  background-color: #fafafa;
  box-shadow: 0px 1px 1px 0 rgba(88, 40, 40, 0.25);
}
.minisize-tags {
  display: none;
}

.addUrl-container,
.editUrl-container,
.shareUrl-container,
.top-moreUrls-container,
.hashtagModal-container,
.folderModal-container {
  display: none;
}

/* 스크롤바 */

/* width */
::-webkit-scrollbar {
  width: 11px;
}

/* button */
::-webkit-scrollbar-button {
  background-color: transparent;
  height: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 20px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* The track NOT covered by the handle.
::-webkit-scrollbar-track-piece {
  background: #000; 
}

/* Corner */
::-webkit-scrollbar-corner {
  background: #999;
}

/* Resizer */
::-webkit-resizer {
  background: #111;
}

@media (max-width: 1100px) {
  .aside {
    display: none;
  }
  .minisize-tags {
    display: flex;
    grid-column: span 2;
  }
  .grid-container {
    padding-right: 0%;
  }
}

@media (max-width: 870px) {
  .grid-container {
    /* padding-top: 2rem; */
  }

  .delete-mode-click-container div {
    width: 30px;
  }
  .grid-container {
    grid-template-columns: 400px;
  }

  .Big_Rect,
  .search-box,
  .share-write,
  .minisize-tags {
    grid-column: span 1;
  }

  .Big_Rect .text-three-container {
    display: flex;
    flex-direction: column;
  }

  h3 {
    text-align: center;
  }
}

@media (max-width: 470px) {
  .MainPage .grid-container {
    /* grid-template-columns: 1; */
    grid-template-columns: 90%;
    width: 100vw;
  }

  .Search-balloon {
    width: 90vw;
  }

  .text-three-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .T-url {
    width: 90%;
  }

  .RectColor {
    width: 100%;
    padding: 0;
  }

  .Rectangle,
  .Big_Rect {
    width: 100%;
    box-shadow: none;
  }

  .Big_Rect {
    padding-bottom: 20px;
  }

  .modal-window {
    width: 90%;
  }

  .share-write {
    align-items: center;
    justify-content: end;
    margin-right: 10px;
    width: 100%;
  }

  .aside-tags {
    max-height: 200px;
  }
}
