@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

.hanna * {
  font-family: "Hanna", fantasy;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 4%;
  padding-bottom: 10%;
  font-family: "Hanna", fantasy;
  font-weight: lighter;
}

/* 전체 공통 */
.flex-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 1rem;
  width: 40%;
  background-color: #ffffff;
}

.titleBox,
.HashBox {
  margin-top: 3rem;
  height: minmax(40%, auto);
}

.titleBox {
  margin-top: 6rem;
}

.flex-container > .searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 0%;
  width: 42%;
  font-size: 1.8rem;
}

.flex-container > .searchBar > svg {
  cursor: pointer;
  position: absolute;
  right: 30%;
}

/* .flex-container > .searchBar > svg :active {
  color: black;
} */

.flex-container > .searchBar > input {
  width: 100%;
  padding: 1rem;
  border: none;
  font-size: 1rem;
}

.flex-container > .searchBar > input:focus {
  outline: none;
}

.searched-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.searched-text-container > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  width: 100%;
}

.searched-text-container > div:hover {
  background-color: beige;
  cursor: pointer;
}

.backIcon {
  position: absolute;
  font-size: 2rem;
  left: 4%;
  top: 7%;
  cursor: pointer;
}

.backIcon svg:active {
  color: black;
}
