.Myfav {
  display: flex;
  position: absolute;
  right: 15px;
  font-size: 25px;
  color: #ffc64b;
  cursor: pointer;
}

.content > .editUrl-btn {
  flex-wrap: wrap;
}

.urlInfoes {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  height: 200px;
  color: black;
  padding: 0;
  align-items: center;
  height: max-content;
}
/* 
.content div {
  width: 300px;
  position: relative;
  border: 3px solid #bbbbbb;
  border-radius: 8px;
  margin: 10px;
} */

.putInput {
  padding: 16px 24px;
  border: none;
  background-color: transparent;
  width: 250px;
  color: #363636;
  font-size: 16px;
  line-height: 24px;
  outline: none;
}

.put-url,
.put-title,
.put-hashTag,
.put-memo {
  width: 300px;
  position: relative;
  border: 3px solid #bbbbbb;
  border-radius: 8px;
  margin: 10px;
}
/*

.put-url,
.put-title,
.put-hashTag,
.put-memo > input {
  padding: 16px 24px;
  border: none;
  background-color: transparent;
  width: 250px;
  color: #363636;
  font-size: 16px;
  line-height: 24px;
}

.put-url,
.put-title,
.put-hashTag,
.put-memo:hover,
.put-url,
.put-title,
.put-hashTag,
.put-memo:focus-within {
  border-color: #1bbeff;
} */
