.HashTag-header-Container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.searchTags-Container {
  /* padding-left: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.searchTags-Container > input {
  padding: 0%;
  border: none;
}

.flexWrapBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;
  overflow-y: auto;
  max-height: 140px;
}

.hashtag-content {
  height: auto;
  margin: 0;
}

.hashtag-content > .editHash-btn {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  height: auto;
}
