.urlList-forShare {
  padding-top: 10px;
  padding-bottom: 10px;
}

.share-modal-window {
  overflow: hidden;
}

.modal-window > .share-flexWrapBox {
  max-height: 100%;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0%;
  gap: 0;
  margin: 0%;
}

.shareOneUrl {
  height: auto;
  gap: 0px;
}
.shareOneUrl:hover {
  background-color: bisque;
  cursor: pointer;
}
