.content > .more-urls-contents {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.more-url {
  height: auto;
}
.more-url:hover {
  background: #e9ecef57;
  cursor: pointer;
}

.more-content {
  height: 100%;
  overflow-y: auto;
}

.top-modal-window {
  overflow: hidden;
  height: 300px;
}

.top-modal-window-clicked {
  height: 500px;
  transition: 500ms;
}

/* 미디어쿼리 */
@media (max-width: 470px) {
  #modal > .top-modal-window {
    /* height: 100%; */
  }
}

/* 300=>500 */
