:root {
  --main-btn-width: 250px;
  --main-input-size: 250px;
  --main-border-radius: 8px;
  --main-btn-height: 40px;
  --btn-padding: 0 1rem;
}

.login {
  width: 400px;
  background: #fff;
  border: 1px solid #dddfe2;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: var(--main-border-radius);

  padding: 1rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

.login > input {
  border-radius: var(--main-border-radius);

  border: 2px solid #dddfe2;
  outline: none;
  color: #1d2129;
  padding: 0.5rem 0.75rem;
  width: var(--main-input-size);
}

.login > .button {
  border: 1px solid #2d2e30;
  border-radius: var(--main-border-radius);
  outline: none;
  cursor: pointer;
  width: var(--main-btn-width);
  height: var(--main-btn-height);
  padding: 0 1rem;

  transition: background-color 0.3s, box-shadow 0.3s;

  border: none;
  border-radius: 8px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);

  color: #757575;
  font-size: 14px;
  font-weight: 500;

  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}

/* 구글 버튼 */

.g-signin2 button {
  width: var(--main-btn-width);
  height: var(--main-btn-height);
  padding: 0;
}
