.login {
  width: 400px;
  background: #fff;
  border: 1px solid #dddfe2;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 8px;
  padding: 1rem;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.login > input {
  border-radius: 8px;
  border: 2px solid #dddfe2;
  outline: none;
  color: #1d2129;
  margin: 0.3px 0;
  /* margin: 0.5rem 0; */
  padding: 0.5rem 0.75rem;
  width: 92%;
  font-size: 1rem;
}

.login > .button {
  background: #a9aaac;
  border: 1px solid #b0b2b4;
  color: #fff;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin: 0.3px 0;
  /* margin: 0.5rem 0; */
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  font-weight: lighter;
  height: 25px;
  width: 380px;
}

.login > .button:hover {
  color: orangered;
  background-color: white;
  font-weight: bold;
}

/* h1:hover {
  color: orangered;
} */
